@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: #F4EFD9;
    min-height: max(884px, 100dvh);
  }

  h1,
  h2,
  h3,
  h4,
  .serif-heading {
    font-family: "EB Garamond", serif;
    letter-spacing: -0.01em;
  }
}

.paper-texture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  pointer-events: none;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDGGTDjXdwzy5fBqMF1p9pd0vjkDfOUeNVpbAnAg5fvpQG2CQyOnM8moJTLFoE16ytk9KzSMtg0B1hegnKJQeB-2SFySOh6lk2vsrOvZoJRTHbCfZlAmk_ChXjq6Il3H5_U0y8yL1yz7QonmoW2MEWHDJLDid9Gp534kR6rtiMwoSEVUV2RIYbSMIvrW2oxZo82nWWkk_ZoM5RZ_VgWbMtB5tldXYDIJeUybhJBL9-oFXt3Pt3AvE1WWjf1w8Pfe4gJGPhnX9oxXQ);
  z-index: 50;
}

/* Language Toggling Utilities */
body.lang-en .lang-de {
  display: none !important;
}

body.lang-de .lang-en {
  display: none !important;
}

/* Carousel Utilities */
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}